ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
li {
  background-color: goldenrod;
  padding: 1rem 2rem;
  outline: 2px solid black;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

li:hover a {
  transition: 0.2s;
  color: azure;
}

li:hover {
  background-color: black;
  transition: 0.1s;
}
