body {
  font-family: Montserrat;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
}
li {
  background-color: coral;
  padding: 1rem 2rem;
  outline: 2px solid rgb(90, 60, 60);
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: rgb(90, 60, 60);
  font-size: 2rem;
}

li:hover a {
  transition: 0.2s;
  color: azure;
}

li:hover {
  background-color: black;
  transition: 0.2s;
}
